@mixin link($normalColor, $hoverColor, $visitedColor, $activeColor, $underlined:false) {
    &{
        //ternaire Scss
        text-decoration: if($underlined, underlined, none);
        color:$normalColor;
        transition: 200ms ease all;
        
        &:visited{
            color: $visitedColor;
        }
        &:hover{
            color: $hoverColor;
        }
        &:active{
            color: $activeColor;
        }
    }

}

$small : 500px;
$medium: 1024px;
$large: 1280px;

@mixin small{
    @media screen and (max-width:$small){
        @content;
    }
}
@mixin medium{
    @media screen and (max-width:$medium){
        @content;
    }
}
@mixin large{
    @media screen and (max-width:$large){
        @content;
    }
}